html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: powderblue;
}

.container {
    width: 100%;
    margin: 35px auto;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
    border-left: dotted black 7px ;
    border-right: dotted black 7px;
    padding:30px;
    background-color: navajowhite;
}

h1, h2, h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.2em;
    margin-top: 20px;
    color: dimgray;
    
}

p, td, li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5em;
    color: black;
}
img {
    width: 100%;
    display: block;
}

a:active, a:hover {
    color: #5ea021;
    border-bottom: none;
}

a:link, a:visited {
    text-decoration: none;
    color: #08318a;
    border-bottom: 2px dotted #EFEBE9;
}

.form {
    margin-top: auto;
}

th[role=columnheader]:not(.no-sort) {
	cursor: pointer;
}

th[role=columnheader]:not(.no-sort):after {
	content: '';
	float: right;
	margin-top: 7px;
	border-width: 0 4px 4px;
	border-style: solid;
	border-color: #404040 transparent;
	visibility: hidden;
	opacity: 0;
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

th[aria-sort=ascending]:not(.no-sort):after {
	border-bottom: none;
	border-width: 4px 4px 0;
}

th[aria-sort]:not(.no-sort):after {
	visibility: visible;
	opacity: 0.4;
}

th[role=columnheader]:not(.no-sort):hover:after {
	visibility: visible;
	opacity: 1;
}